// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$black: #000;
$white: #FFF;
$white-transparent: rgba(255, 255, 255, 0.15);
$background: #000;
$border-underline: #808080;
$grey: #8C8C8C;
$red: #FD1919;
$blue: #5158BB;

// containers
$mobile-container: 0 1rem;
$tablet-container: 0 2rem;
$desktop-container: 0 7.5rem;