@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.blurry-circle {
    display: flex;
    justify-content: center;
    filter: blur(3rem);
    position: fixed;
    top: 50%;
    color: #FFF;
    opacity: 90%;
    z-index: -1;
    width: 100%;

    @include desktop {
        filter: blur(8rem);
    }

    &__item-1 {
        width: 10rem;
        height: 10rem;
        background-color: $red;

        @include desktop {
            width: 15rem;
            height: 15rem;
        }
    }

    &__item-2 {
        width: 10rem;
        height: 10rem;
        background-color: $blue;

        @include desktop {
            width: 15rem;
            height: 15rem;
        }
    }
}